body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.display {
    flex: 2;
}

.keypad{
    /*how much flex size*/
    flex: 8;

    display: flex;
    flex-wrap: wrap;
}

button{
    width: 80px;
    height: 60px;
}